
#capt{
  width: 300px;
  margin-top: -1%;
  margin-left: 0%;
  padding-bottom: 3%;
}
#titlebackground{
  margin-top: 1%;
  margin-left: -2%;
}

#couver img{
  width: 100%;
}
.images{
  display: flex;
  justify-content: space-around
  ;
  flex-wrap: wrap;
}
.image img{
  width: 390px;
}
#prodact{
  font-size: 30px;
  margin-left: 27%;
}

/* #text{
  margin-top: 0%;
  margin-left: 2%;
  margin-bottom: 2%;
} */

#bouton {
   margin-left: 60%;
   margin-top: 2%;
   margin-bottom: 2%;
  }
/* "fade-right"  media cwiri */

